header, .main, footer {
  padding-left: 300px;
  @media @desktop-and-below {
    padding-left: 0px;
  }
}
header {
  nav {
    height: 64px;
    line-height: 64px;
  }
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ee6e73;
  box-shadow: 0 1px 0 0 #ee6e73;
}
.ski-form {
  .submit-button {
    @media @mobile-landscape-and-below {
      padding-bottom: 15px;
    }
  }
}