<div class="about-us">
    <div class="row">
        <div class="col s12 m4">
            ttest
        </div>
        <div class="col s12 m4">
            tes
        </div>
        <div class="col s12 m4">
            test
        </div>
    </div>
</div>