{% extends '::base.html.twig' %}
{% block body %}
    <div class="parallax-container">
        <div class="parallax">
            <img alt="" src="{{ asset('bundles/skismile/images/paralax-1.jpg') }}">
        </div>
    </div>
    <div id="aboutus" class="section white">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:about.html.twig' %}
        </div>
    </div>
    <div id="rent-price" class="section white ski-rent-section">
        {% include 'SkiSmileBundle:Default:skiRent.html.twig'%}
    </div>
    <div class="parallax-container">
        <div class="parallax"><img alt="" src="{{ asset('bundles/skismile/images/Mountains.jpg') }}"></div>
    </div>
    <div id="service-price" class="section white ski-service-section">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:skiService.html.twig' %}
        </div>
    </div>
    <div id="place" class="section white places-section">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:places.html.twig' %}
        </div>
    </div>
    <div id="contacts" class="section white contact-section">
        <div class="row container">
            {{ render(controller('SkiSmileBundle:Default:contact')) }}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img alt="" src="{{ asset('bundles/skismile/images/paralax-2.jpg') }}"></div>
    </div>
{% endblock %}