{% extends '::base.html.twig' %}
{% block body %}
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/skismile/images/Snowboarding.jpg') }}"></div>
    </div>
    <div class="section white">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:about.html.twig' %}
        </div>
    </div>
    <div id="price" class="section white ski-rent-section">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:skiRent.html.twig' with {entities : ski_rent} %}
        </div>
    </div>
    <div class="section white ski-service-section">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:skiService.html.twig' with {entities : ski_service} %}
        </div>
    </div>
    <div class="section white ski-service-section">
        <div class="row container">
            {% include 'SkiSmileBundle:Default:places.html.twig' %}
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            {{ render(controller('SkiSmileBundle:Default:contact')) }}
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/skismile/images/Mountains.jpg') }}"></div>
    </div>
{% endblock %}