<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SkiSmile{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('dist/css/vendor.min.css') }}" media="all"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('dist/css/app.min.css') }}" media="all"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navigation %}
            {% include '@SkiSmile/Navigations/navigation.html.twig'%}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            {% include '@SkiSmile/Footer/footer.html.twig'%}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('dist/js/vendor.min.js') }}"></script>
            <script>
                $(document).ready(function(){
                    $('.parallax').parallax();
                    $('.button-collapse').sideNav({
                                menuWidth: 300, // Default is 240
                                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                                draggable: true // Choose whether you can drag to open on touch screens
                            }
                    );
                });
            </script>
            <script>
                $('.head-link').click(function(e) {
                    e.preventDefault();

                    var goto = $(this).attr('href');

                    $('html, body').animate({
                        scrollTop: $(goto).offset().top
                    }, 800);
                });

            </script>
        {% endblock %}
    </body>
</html>
