{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
<div class="card-panel ski-service-page">
    <h4 class="center">{{ 'Сервісне обслуговування'|trans }}</h4>
        {% include '@SkiSmileAdmin/Tables/skiserviceTable.html.twig'
            with {
            'skiServices': skiServices,
            }
        %}
    <h4 class="center">{{ 'Сервісне обслуговування таблиця 2'|trans }}</h4>
        {% include '@SkiSmileAdmin/Tables/skiserviceTable.html.twig'
            with {
            'skiServices': skiServicesPart,
            }
        %}
    <div class="row admin-actions">
        <a class="btn-floating btn-large waves-effect waves-circle waves-light teal" href="{{ path('ski_service_admin_new') }}">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
{% endblock %}
