{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
<div class="card-panel">
    <h3>{{ 'SKI сервіс'|trans }}</h3>
        {% include '@SkiSmileAdmin/Tables/skiserviceTable.html.twig'
            with {
            'skiServices': skiServices,
            }
        %}

        {% include '@SkiSmileAdmin/Tables/skiserviceTable.html.twig'
            with {
            'skiServices': skiServicesPart,
            }
        %}
    <div class="row admin-actions">
        <a class="btn-floating btn-large waves-effect waves-circle waves-light teal" href="{{ path('ski_service_admin_new') }}">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
{% endblock %}
