{% extends '@SkiSmileAdmin/Default/base.html.twig' %}

{% block body %}
    <div class="card-panel">
        {% include '@SkiSmileAdmin/Tables/skirentTable.html.twig'
            with {
                'entities': entities,
                'title': 'Ціни на прокат інвентаря 2016-2017 р.'
            }
        %}

        {% include '@SkiSmileAdmin/Tables/skirentTable.html.twig'
            with {
            'entities': entitiesPart,
            'title': 'Ціни на прокат інвентаря  в роздріб 2016-2017 р.'
            }
        %}
        <div class="row admin-actions">
            <a class="btn-floating btn-large waves-effect waves-circle waves-light teal" href="{{ path('ski_rent_admin_new') }}">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}
