.ski-rent, .ski-service {
  .block-header {
    text-align: center;
  }
  .ski-table {
    tr {
      th,td {
        border: 1px solid teal;
        text-align: center;
      }
    }
  }
}
.places {
  .tabs {
    .tab {
      a {
        color: teal;
        letter-spacing: 2px;
        font-weight: bold;
      }
    }
    .indicator {
      background-color: teal;
    }
  }
}
.about-us {
  .header-image {
    img {
      border: 3px solid #00162e;
      width: 150px;
      height: 150px;
      padding: 0.25em;
      border-radius: 50%;
    }
  }
}