.ski-rent, .ski-service {
  .block-header {
    text-align: center;
  }
  .ski-table {
    tr {
      th,td {
        border: 1px solid teal;
        text-align: center;
      }
    }
  }
}
.places {
  .tabs {
    .tab {
      a {
        color: teal;
      }
    }
    .indicator {
      background-color: teal;
    }
  }
}