.main-menu {
  z-index: 998;
  height: 75px;
  nav {
    height: 75px;
    line-height: 75px;
  }
  .button-collapse {
    .mdi-menu{
      &:before{
        padding-top: 13.5px;
      }
    }
  }
  .button-collapse {
    i{
      color: black;
    }
  }
}
footer.page-footer {
  margin-top: 0px;
}