.main-menu {
  z-index: 998;
  .button-collapse {
    .mdi-menu{
      &:before{
        padding-top: 8px;
      }
    }
  }
  .button-collapse {
    i{
      color: black;
    }
  }
}
footer.page-footer {
  margin-top: 0px;
}