<footer class="page-footer white">
    <div class="footer-copyright white">
        <div class="container center blue-grey-text">
            &copy;{{ ' 2016 Ski Smile' }}
        </div>
    </div>
</footer>